@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  --clr-white: #FFF;
  --clr-black: #000;
  --clr-green: #85AB7B;;

  --clr-background: #DEB3AD;
  --clr-border: #BB9096;
  --clr-gold: #965A00;
  --clr-pink: #FEDFE3;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: block;
  width: 88%;
  /* background-color: var(--clr-background); */
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  margin: 0 auto;
}

h1, h2 {
  color: var(--clr-green);
}

h1, h5 {
  font-weight: 600;
}

h1 {
  font-size: 58px;
  font-weight: 400;
  letter-spacing: .25px;
}

h2, h3 {
  font-weight: 400;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 15px;
}

/* h4 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.15px;
} */

h5 {
  font-size: 18px;
}
