:root {
  --clr-white: #FFF;
  --clr-black: #000;
  --clr-background: #FAEBD7;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all;
  transition-duration: 300ms;
}

body {
  display: block;
  width: 100%;
  background-color: var(--clr-background);
}
