.home {
	position: relative;
	height: 100vh;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	overflow: hidden;
	touch-action: none;
	&-background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url('../images/background.jpeg');
		background-size: cover;
		background-repeat: no-repeat;
		opacity: .65;
		z-index: -1;
	}
	&-content {
		height: 100vh;
		scroll-snap-align: center;
		text-align: center;
		padding-top: 20vh;
		&__title,
		&__subtitle {
			margin-bottom: 1.675vh;
		}
		&__subtitle {
			line-height: 2.6vh;
		}
		&__image {
			width: 75%;
			margin: 7.2vh 0;
		}
		&__counter {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 24px;
		}
		&__description {
			line-height: 3.275vh;
			margin: 7.5vh 0 4.275vh;
		}
		&__icon {
			height: 16vh;
		}
	}
	.time {
		&-label {
			margin-bottom: 1.25vh;
		}
		&-date {
			font-size: 42px;
			line-height: 6.25vh;
		}
		.calendar {
			margin: 7.5vh auto;
		}
	}
}
